{% extends "base.html" %}

{% block title %}Product{% endblock %}

{% block content %}
<h1>Name: {{product.name}}</h1>
<p>Description: {{product.description}}</p>
<p>Price: {{product.price | sgd}}</p>
<a href="{{ url_for('add_to_cart', item_id=product.item_id)}}"> <button>Add to cart</button>  </a>
<h1>
    Reviews
</h1>
<table>
    <tr>
        <th>
            Rating
        </th>
        <th>
            Review
        </th>
    </tr>
    {% for review in reviews %}
    <tr>
        <td>
            {{ '⭐' * review.rating }}
        </td>
        <td>
            {{ review.review }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}